<ion-content class="backgroundcont">
  <p align="center"><img src="../../assets/icon/ixchange.jpg" 
    style="height: 23vh; zoom: 100%"></p>

  <ion-segment padding [(ngModel)]="devicetype" color="outerblack" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="searched">
      SEARCHED
    </ion-segment-button>
    <ion-segment-button value="paired">
      PAIRED
    </ion-segment-button>
  </ion-segment>

  <div padding class="bottomcontainer">
    <ion-grid>


      <ion-row style="margin-bottom: 20px;" *ngFor="let device of testList">
        <ion-col col-1 style="margin-right: 10px;">
            <ion-checkbox>

              </ion-checkbox>
        </ion-col>

        <ion-col style="color: white">
          {{device.name}}<br>{{device.address}}
        </ion-col>
       
      </ion-row>
    </ion-grid>

    <p *ngIf="isSearchedEmpty" style="bottom: 15vh; font-size: 19px; position: absolute; color:white" align="center">No devices found<br>please check that your device is at pairing mode</p>

    <p class="bottombutton" align="center">
      <button ion-button block color="primary" (click)="testSelectDevice()">Connect</button></p>
  </div>

</ion-content>
